/**Тренировка**/

.header-page {
    color: greenyellow;
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    text-align: center;
}

.header-article {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    text-align: start;
    text-decoration: underline;
}

.text-article {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: start;
    width: 30vw;
}

.bold {
    font-weight: bold;
}